In [1]:
import pandas as pd

In [3]:
# Dataset files
PLACES_PATH = "data_v2/data_v2/places.csv"
REVIEWS_PATH = "data_v2/data_v2/reviews.csv"

places_df = pd.read_csv(PLACES_PATH)
reviews_df = pd.read_csv(REVIEWS_PATH)

In [4]:
places_df.shape, reviews_df.shape

((513, 21), (2565, 5))

In [5]:
reviews_df.drop_duplicates(inplace=True)
places_df.drop_duplicates(inplace=True)

In [6]:
places_df.shape, reviews_df.shape

((513, 21), (2565, 5))

In [8]:
types = []

for x in places_df.index:
    t = places_df.loc[x, "place_primary_type"]
    if t not in types:
        types.append(t)

types

['indian_restaurant',
 'bar',
 'restaurant',
 'pizza_restaurant',
 'italian_restaurant',
 'mexican_restaurant',
 'japanese_restaurant',
 'cafe',
 'hamburger_restaurant',
 'meal_takeaway',
 'coffee_shop',
 'fast_food_restaurant',
 'meal_delivery',
 'seafood_restaurant',
 'chinese_restaurant',
 'greek_restaurant',
 'ramen_restaurant',
 'sushi_restaurant',
 'spanish_restaurant',
 'vegetarian_restaurant',
 'lebanese_restaurant',
 'sandwich_shop',
 'brunch_restaurant',
 'american_restaurant',
 'steak_house',
 'vegan_restaurant']

In [10]:
deleted_types = ['hotel','swimming_pool','sports_complex','park','bowling_alley','night_club']

In [11]:
for i in deleted_types:
   place_id =  places_df[places_df['place_primary_type'] == i]['place_id']
   places_df = places_df[places_df.place_primary_type != i]
   for id in place_id:
      reviews_df = reviews_df[reviews_df.place_id != id]

In [12]:
places_df.shape, reviews_df.shape

((513, 21), (2565, 5))

In [13]:
nan = type(places_df.loc[124].place_location)

In [14]:
nan_types = places_df[places_df['place_primary_type'].isna()]
nan_types

Empty DataFrame
Columns: [place_id, place_name, place_types, place_address, place_average_ratings, place_ratings_count, place_reviews_count, place_location, place_website, place_phone_number, place_price_level, place_primary_type, has_delivery, has_dine_in, is_reservable, serves_breakfast, serves_lunch, serves_dinner, serves_beer, serves_wine, places_opening_hours]
Index: []

[0 rows x 21 columns]